header{
    color: whitesmoke;
    background-color: deeppink;
    text-align: center;
    padding: 2em;
}

section{
    padding: 2em 1em;
}

h2{
    font-size: 16px;
    margin-bottom: 1em;
}

p{
    margin: 1em 0.5em;
}

.important{
    color: mediumvioletred;
    border-left: 3px solid darkred;
    padding-left: 0.4em;
}

footer{
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    padding: 0.2em 0;
}

@media screen and (orientation: landscape) {
    header{
        padding: 1em 2em;
    }

    .important{
        border-left: none;
        padding-left: 0;
        border-bottom: 3px solid darkred;
        padding-bottom: 0.4em;
        margin-bottom: 2em;
    }

    section{
        padding: 1em 2em;
    }
}

@media screen and (min-width: 60rem){
    h2{
        font-size: 20px;
    }

    p{
        box-sizing: content-box;
        display: inline-block;
        width: 42%;
        font-size: 17px;
        margin: 1.2em 2em;
    }

    section{}

}