$content_largeur : 100%;
$content_hauteur : 200px;
$content_background : gray;
$content_font_size : 16px;
$content_padding : 5px;
$content_h1_font_size : 1.2em;
$content_h1_font_weight : bold;
$content_h1_background : #FF0000;

.content {
  box-sizing: border-box;
  width: $content_largeur;
  height: $content_hauteur;
  background-color: $content_background;
  font-size: $content_font_size;
  font-weight: normal;
  padding: $content_padding;

  & > h1 {
    font-size: $content_h1_font_size;
    font-weight: $content_h1_font_weight;
    background-color: $content_h1_background;

    &:hover {
      font-size: ($content_h1_font_size*1.2);
      background-color: lighten($content_h1_background, 10%);
    }
  }
}