nav{
    background-color: darkorange;
    color: whitesmoke;
}

ul{
    display: flex;
    flex-flow: column nowrap;
}

li{
    border-top: orange 2px solid;
    box-sizing: border-box;
    display: flex;
}

li:first-child{
    border: none;
}

li > a{
    box-sizing: border-box;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

@media screen and (orientation: landscape), (min-width: 768px){
    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    li{
        border-top: none;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px){
    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    li{
        border-top: none;
        font-size: 1.5em;
    }

    li > a{
        padding: 1em;
    }
}