
body {
  padding: 0;
  height: 100vh;
}
/* Fichier de départ */
.grid_item {
  box-sizing: border-box;
  border: 1px solid grey;
  text-align: center;
  line-height: 100px;
}

.grid_container {
  display: grid;
}

/* Exercice 1 */

/* 1
.grid_container{
  grid-template-columns: 25em 10em 200px 20%;
  grid-template-rows: 250px 10em 10% 15%;
}*/

/* 2
.grid_container{
  grid-template-columns: 200px 3fr 2fr 1fr;
}*/

/* 3
.grid_container{
  grid-template-columns: 200px 3fr 2fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-auto-rows: 200px;
}*/

/* 4
.grid_container{
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 8rem);
  grid-auto-rows: 4rem;
}*/

/* Exercice 2
.grid_container{
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 5rem;
}
.grid_item{
  background-color: black;
  color: whitesmoke;
}

.grid_item:nth-child(4){
  grid-column: span 3;
}

.grid_item:nth-child(6){
  grid-column: span 2;
}

.grid_item:nth-child(7){
  grid-row: span 3;
}

.grid_item:nth-child(10){
  grid-column: span 2;
  grid-row: span 2;
}*/

/* Exercice 3
.grid_container{
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 5rem;
}
.grid_item{
  background-color: black;
  color: whitesmoke;
}

.grid_item:nth-child(4){
  grid-column: span 3;
}

.grid_item:nth-child(6){
  grid-column: span 2;
}

.grid_item:nth-child(7){
  grid-row: span 3;
}

.grid_item:nth-child(10){
  grid-column: span 2;
  grid-row: span 2;
}

.grid_item:nth-child(16){
  grid-column: 1;
  grid-row: 3;
}

.grid_item:nth-child(13){
  grid-column: 4 / 6;
  grid-row: 1 / 4;
}

.grid_item:nth-child(8){
  grid-column: 4;
  grid-row: 4 / 7;
}

.grid_item:nth-child(9){
  grid-column: 3 / 5;
  grid-row: 4;
}

.grid_item:nth-child(20){
  grid-column: 6;
  grid-row: 7;
}*/