@import "variables";

@mixin alert-color($type: "default"){
  background-color: map-get($bg-colors, $type);
}

@mixin alert-base($width: $largeur, $text-align: $text-align){
  width: $width;
  text-align: $text-align;
}

@mixin alert($type: "default", $width: $largeur, $text-align: $text-align) {
  @include alert-base($width, $text-align);
  @include alert-color($type);
}